<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIG>	
	<Administrators>
		<Administrator Name="Filipe Larga" email="fesvl@iscte-iul.pt" />
		<Administrator Name="Rita Gonçalves" email="ritapiriquitas@gmail.com" />
	</Administrators>
	<Paths>
		<Path1></Path1>
		<Path2></Path2>
	</Paths>	
</CONFIG>
